<div style="width: 100%; background-image: linear-gradient(rgb(255, 174, 0),rgba(240, 229, 229, 0.568));padding-top: 150px; padding-bottom: 150px;">

  <div class="card" style="width: 50%; margin-left: auto; margin-right: auto;">
      <div class="card-body">
          <form  [formGroup]="form_login" class="form-signin" (ngSubmit)="login()">
              <img class="center" src="https://raw.githubusercontent.com/bkevin1052/ZuperApp/master/ZuperApp/icons/ZuperApp.png" style="width: 50%;">
              <br>
              <label for="inputEmail" class="sr-only">Email</label>
              <input type="email" formControlName="email" id="Email" class="form-control" placeholder="Email" required="" autofocus="">
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" formControlName="password" id="Password" class="form-control" placeholder="Password" required="">
              <br>
              <button type="submit" id="bLogIn" class="btn btn-warning btn-lg btn-block">Log In</button>
              <br>
              <a routerLink="/register">Sign Up</a>
              <br>
              <a routerLink="/forgotpassword">Forgot Password?</a>
              <p style="text-align: center" class="mt-5 mb-3 text-muted">© 2021</p>
          </form>
      </div>
  </div>
</div>

