<div style="width: 100%; background-image: url('https://raw.githubusercontent.com/bkevin1052/ZuperApp/master/ZuperApp/icons/background.jpg'); padding-top: 100px; padding-bottom: 100px;">

  <div class="card" style="width: 30%; margin-left: auto; margin-right: auto;">
      <div class="card-body">
          <form class="form-signin">
              <h1 class="h3 mb-3 font-weight-normal text-center">Log In</h1>
              <img class="center" src="https://raw.githubusercontent.com/bkevin1052/ZuperApp/master/ZuperApp/icons/ZuperApp.png" style="width: 50%; margin-left: auto; margin-right: auto;">
              <label for="inputEmail" class="sr-only">Email</label>
              <input type="email" formControlName="email" id="inputEmail" class="form-control" placeholder="Email" required="" autofocus="">
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" formControlName="password" id="inputPassword" class="form-control" placeholder="Contraseña" required="">
              <button class="btn btn-lg btn-info btn-block" type="submit" id="bIngresar">Ingresar</button>
              <br>
              <a routerLink="/SignUp">Sign Up</a>
              <br>
              <a routerLink="/ForgotPassword">Forgot Password?</a>
              <p style="text-align: center;" class="mt-5 mb-3 text-muted">© 2020</p>
          </form>
      </div>
  </div>

</div>
