<div class="container">
  <div class="row">
      <div class="col">
          <h1 class="titulo text-center">Item Lists</h1>
          <table class="table table-striped tabla">
              <!--Encabezados de la tabla-->
              <thead class="thead-zuper">
                  <tr>

                      <th class=" text-center" scope="col">Name</th>

                      <th class=" text-center" scope="col">Description</th>

                      <th class=" text-center" scope="col">Items</th>

                  </tr>
              </thead>

              <!--CONTENIDO-->
              <tr class="tr-zuper" *ngFor="let servicio of servicios">

                  <td class="text-center">{{cookie.namelist}}</td>
                  <td class="text-center">{{cookie.description}}</td>
                  <td class="text-center">

                    <a [routerLink]="['/Client/Historial/VerServicio',cookie._id]" class="btn btn-info btn-xs">
                        <i class="fa fa-search"></i>
                    </a>
                  </td>

              </tr>
          </table>
      </div>
  </div>
</div>
