<div class="row mb-5">
    <div class="col-12 text-center">
        <div class="card bg-light border-info">
            <div class="card-body">
                <div class="contenedorImagenCircular m-auto" style="height: 10rem; width: 10rem;">
                    <img class="imagen_circular mb-5" src="{{imagenresource}}" alt="Foto de usuario" />
                </div>

                <p class="m-0 font-weight-bold colorHandy">Nombre:</p>
                <p>Kevin Barrientos</p>

                <p class="m-0 font-weight-bold colorHandy">Correo electrónico:</p>
                <p>bkevin1052@gmail.com</p>

                <p class="m-0 font-weight-bold colorHandy">Número telefónico:</p>
                <p>47045823</p>

                <a routerLink="/Client/Edit-Profile">
                    <button class="btn btn-info p-3">Editar perfil</button>
                </a>
            </div>
        </div>
    </div>
</div>
