<div class="row mb-5">
    <div class="col-12 text-center">
        <div class="card bg-light border-info">
            <div class="card-body">

                <img class="center" src="https://raw.githubusercontent.com/bkevin1052/ZuperApp/master/ZuperApp/icons/ZuperApp.png" style="width: 60%;">

                <p class="m-0 font-weight-bold colorHandy">Name:</p>
                <p>Kevin Barrientos</p>

                <p class="m-0 font-weight-bold colorHandy">Email:</p>
                <p>bkevin1052@gmail.com</p>

                <p class="m-0 font-weight-bold colorHandy">Phone:</p>
                <p>47045823</p>

                <a routerLink="/Client/Edit-Profile">
                    <button type="button" class="btn btn-warning">Edit Profile</button>
                </a>
            </div>
        </div>
    </div>
</div>
