<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

<div class="card content" style="width: 80%; margin-left: auto; margin-right: auto;">
  <div class="card-body">
    <form [formGroup]="form_forgot" class="form-forgotpassword" class="form-forgotpassword">
      <img src="https://raw.githubusercontent.com/bkevin1052/ZuperApp/master/ZuperApp/icons/ZuperApp.png"
        style="width: 50%;" class="center">
      <br>
      <br>
      <label for="inputEmail" class="sr-only">Email</label>
      <input type="email" formControlName="email" id="inputEmail" class="form-control"
        placeholder="Enter Email Address...">
      <br>
      <button id="bPassword" class="btn btn-danger btn-lg btn-block" (click)="resetPassword()">Reset Password</button>
      <hr>
      <a routerLink="/register">Create an Account!</a>
      <br>
      <a routerLink="/login">Already have an account? Login!</a>
      <hr>
      <p style="text-align: center" class="mt-5 mb-3 text-muted">© 2021</p>
    </form>
  </div>
</div>
