<div class="row mb-5">
  <div class="col-12 text-center">
      <p class="m-0 titulo">Servicios Disponibles</p>
  </div>
  <div class="col-lg-4 col-12 mt-5">
      <div class="card-services">
          <div class="btn-circle bg-zuper">
            <br>
              <img style="width: 30%;" class="card-img-top" src="https://raw.githubusercontent.com/bkevin1052/ZuperApp/master/ZuperApp/icons/latorre.png">
          </div>
          <div class="card-body  bg-zuper">
              <h2 class="card-title">La Torre</h2>
              <a routerLink="" class="btn btn-info">Ver servicio</a>
          </div>
        </div>
   </div>

   <div class="col-lg-4 col-12 mt-5">
    <div class="card-services">
      <div class="btn-circle bg-zuper">
        <br>
          <img style="width: 30%;" class="card-img-top" src="https://raw.githubusercontent.com/bkevin1052/ZuperApp/master/ZuperApp/icons/maxi.png">
      </div>
      <div class="card-body  bg-zuper">
          <h2 class="card-title">Maxi Despensa</h2>
          <a routerLink="" class="btn btn-info">Ver servicio</a>
      </div>
    </div>
   </div>

   <div class="col-lg-4 col-12 mt-5">
    <div class="card-services">
      <div class="btn-circle bg-zuper">
        <br>
          <img style="width: 30%;" class="card-img-top" src="https://raw.githubusercontent.com/bkevin1052/ZuperApp/master/ZuperApp/icons/paiz.png">
      </div>
      <div class="card-body  bg-zuper">
          <h2 class="card-title">Paiz</h2>
          <a routerLink="" class="btn btn-info">Ver servicio</a>
      </div>
    </div>
   </div>

   <div class="col-lg-4 col-12 mt-5">
    <div class="card-services">
      <div class="btn-circle bg-zuper">
        <br>
          <img style="width: 30%;" class="card-img-top" src="https://raw.githubusercontent.com/bkevin1052/ZuperApp/master/ZuperApp/icons/walmart.png">
      </div>
      <div class="card-body  bg-zuper">
          <h2 class="card-title">Walmart</h2>
          <a routerLink="" class="btn btn-info">Ver servicio</a>
      </div>
    </div>
   </div>
</div>
