<div class = "center">
        <div class="card" style="width: 50%; margin-left: auto; margin-right: auto;">
            <div class="card-body">
                <button  routerLink="/Client/New-List" type="button" class="btn btn-lg btn-block btn-success" id="bNew">New List</button>
              <br>
                <button  routerLink="/Client/Edit-List" class="btn btn-lg btn-block  btn-warning"  id="bModify">Modify List</button>
              <br>
                <button  routerLink="/Client/Send-List" class="btn btn-lg btn-block  btn-danger"  id="bSend">Send List</button>
            </div>
      </div>
</div>

