<div class = "center">
        <div class="card" style="width: 50%; margin-left: auto; margin-right: auto;">
            <div class="card-body">
              <a routerLink="/Client/New-List">
                <button class="btn btn-lg btn-info btn-block" id="bNew">New List</button>
              </a>
              <br>
              <a routerLink="/Client/Edit-List">
                <button class="btn btn-lg btn-info btn-block"  id="bModify">Modify List</button>
              </a>
              <br>
              <a routerLink="/Client/Send-List">
                <button class="btn btn-lg btn-info btn-block"  id="bSend">Send List</button>
              </a>
            </div>
      </div>
</div>

