<head>
</head>

<form [formGroup]="form_cambiocontrasenia" class="form-signin">
    <img class="center" src="{{imagenresource}}" alt="" width="150" height="150">
    <h1 style="text-align: center;">Password</h1>
    <label for="inputPassword" class="sr-only">Contraseña Actual</label>
    <input type="password" formControlName="inputPassword" id="inputPassword" class="form-control" placeholder="Current Password" required="" autofocus="">
    <p></p>
    <label for="inputNewPassword" class="sr-only">Contraseña Nueva</label>
    <input type="password" formControlName="inputNewPassword" id="inputNewPassword" class="form-control" placeholder="New Password" required="" autofocus="">
    <label for="inputConfirmPassword" class="sr-only">Confirmación Contraseña Nueva</label>
    <input type="password" formControlName="inputConfirmPassword" id="inputConfirmPassword" class="form-control" placeholder="New Password, again" required="">
    <p> </p>
    <button id="bChange" class="btn btn-success btn-lg btn-block" (click)="cambioPassword()"> Confirm </button>
</form>
