<img src="{{imagenresource}}" title="Foto de Perfil" class="imagenperfil" />
<div class="profile-page pb-5">
    <form [formGroup]="form_editar" style="padding-top: 5%;">
        <div class="container">
            <h1 class="titulo">{{nombre_user}}</h1>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Nombre</label>
                    <input type="text" formControlName="Nombre" name="Nombre" class="form-control" value="">
                </div>
                <div class="form-group col-md-6">
                    <label>Apellido</label>
                    <input type="text" formControlName="Apellido" name="Apellido" class="form-control" value="">
                </div>
                <div class="form-group col-md-6">
                    <label>Correo</label>
                    <input type="text" formControlName="Correo" name="Correo" class="form-control" value="">
                </div>
                <div class="form-group col-md-6">
                    <label>Teléfono</label>
                    <input type="text" formControlName="Telefono" name="Telefono" class="form-control" value="">
                </div>
                <div class="form-group col-md-6">

                    <input id="subirFoto" type="file" formControlName="Foto" name="Foto" class="fileInput" value="">
                    <label class="btn btn-secondary" for="subirFoto">Cargar Foto</label>
                </div>
            </div>
            <div class="text-center">
              <a routerLink="/Client/home">
                <button type="button" class="btn btn-primary mr-3">Confirm</button>
              </a>
              <a routerLink="/Client/Change-Password">
                <button class="btn btn-danger">
                    Cambiar Contraseña
                </button>
              </a>
            </div>

        </div>
    </form>
</div>
