.imagenperfil{
    width:150px;
    height:150px;
    border-radius:125px;
    border:10px solid #666;
    float: inherit;
}
.fileInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
