<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
  <div class="card content" style="width: 70%; margin-left: auto; margin-right: auto;">
      <div class="card-body">
        <br>
          <form [formGroup]="form_register"  class="form-register">
            <div class="container">
              <div class="row">

              <img src="https://raw.githubusercontent.com/bkevin1052/ZuperApp/master/ZuperApp/icons/ZuperApp.png" style="width: 50%;" class="center">

              <label for="inputUserName" class="sr-only">UserName</label>
              <input type="text" formControlName="username" id="inputUserName" class="form-control" placeholder="Username"  autofocus="">

              <label for="inputName" class="sr-only">Name</label>
              <input type="text" formControlName="name" id="inputName" class="form-control" placeholder="Name"  autofocus="">

              <label for="inputSurName" class="sr-only">SurName</label>
              <input type="text" formControlName="surname" id="inputSurName" class="form-control" placeholder="SurName"  autofocus="">

              <label for="inputPhone" class="sr-only">Phone</label>
              <input type="text" formControlName="phone" id="inputPhone" class="form-control" placeholder="Phone"  autofocus="">

              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" formControlName="password" id="inputPassword" class="form-control" placeholder="Password" >

              <label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
              <input type="password" formControlName="confirmPassword" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" >

              <label for="inputEmail" class="sr-only">Email</label>
              <input type="email" formControlName="email" id="inputEmail" class="form-control" placeholder="Email" >

            </div>
          </div>
          </form>
          <br>
          <hr>
          <a routerLink="/forgotpassword">Forgot Password?</a>
          <br>
          <a routerLink="/login">Already have an account? Login!</a>
          <hr>
          <button id="bRegister" class="btn btn-success btn-lg btn-block" (click)="register()">Register</button>
          <p style="text-align:center" class="mt-5 mb-3 text-muted">© 2021</p>
      </div>
  </div>

